.karen{
    background-color:#ed6665;
}

.oscar{
    background-color:#d6bd80;
}

.tom{
    background-color:#64b6b8;
}

.personalityImage{
    border-style: solid;
    border-color: white;
    border-width: 9px;
    padding:0px;
    margin:0px;
}
.bg{
background-image: url("../images/WorkLifeBalanceCloudX.jpg");
max-width: 100%;
height: 100%; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
body, html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight:100;
    text-align: center;
    font-size: 60px;
    
}
.brief{
    text-align: center;
    font-weight:300;
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;

}
h2{
    font-weight:300;
    font-size: 50px;
    
}
.lead{
    font-weight:300;
    font-size: 20px;

}

/* Just added this code to make the height same height as the screen. Hope you guys don't mind :) */

.footer-home {
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 60px;

}

.footer-home p {
    padding-top: 1%;
}

.bottomPic {
    height: 450px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

