body {
    background-color: gray;
}
#survey {
    align-content: center;
    border: solid;
    border-width: 3px;
    background-color: beige;
    
}
#submit {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 16px;

}
p {
    align-content: center;
    font-weight: bold;
    font-size: 14px;
}